.nav-pills > li > a.active {
    background-color:  transparent !important;
    // border: 3px solid #31b978; 
}

.nav-pills {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 20rem; 
}

#navbar-example2 {
    width: max-content;
    height: max-content;
    padding: 0;
    margin-top: 10%;
    background-color: transparent !important;
}

@media all and (max-width: 1200px) {
    .nav-pills{
        display: none;
    }
}

.nav-link {
    width: 60px;
    height: 60px;
    // display: inline-block;
    margin:0 5px;
    color:orange;
    filter: url('#goo');
}

.nav-link::before {
    content: "";
    display: block;
    background:currentColor;
    padding-top: 115%; /* 100%/cos(30)  */
    clip-path: polygon(0% 25%,0% 75%,50% 100%,100% 75%,100% 25%,50% 0%);
  }
.nav-link:hover {
    background-color: aqua;
    clip-path: polygon(0% 25%,0% 75%,50% 100%,100% 75%,100% 25%,50% 0%);

    
}