.nav-pills > li > a.active {
    background-color:  transparent !important;
    // border: 3px solid #31b978; 
}

.nav-pills {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 20rem; 
}

#navbar-example2 {
    width: max-content;
    height: max-content;
    padding: 0;
    margin-top: 10%;
    background-color: transparent !important;
}

@media all and (max-width: 1200px) {
    .nav-pills{
        display: none;
    }
}