#fp-nav ul li:hover a.active span,
#fp-nav ul li a.active span,
.fp-slidesNav ul li:hover a.active span,
.fp-slidesNav ul li a.active span {
  background-color: var(--color-primary);
}

.modal-dialog {
    max-width: max-content !important;
  }
  
  .modal-body {
    display: flex;
    object-fit: contain;
  }

  #fp-nav ul li .fp-tooltip.fp-right {
    color: var(--color-primary);
  }

  .fp-table {
    margin-top: -4vh
  } 
.fp-overflow {
  .edu-course-area{
    height: 90vh;
  }
  .testimonial-area-1 {
    height: 90vh;
  }
}
