// .sticky-header-container{
//     overflow-y: scroll;
//     scroll-behavior: smooth;
//     scroll-snap-type: y mandatory;
//     .hero {
//         background-color: red;
//         scroll-snap-align: start;
//     }
//     .top-category{
//         scroll-snap-align: start;

//     }
// }

.test-01-man{
    .man-01 {
        height: 200px;
        background-color: red;
        scroll-snap-align: start;
    }
    .man-02{
        height: 500px;
        background-color: lime;
        scroll-snap-align: start;
    }
    .man-03{
        height: 320px;
        background-color: yellow;
        scroll-snap-align: start;
    }
    .man-04 {
        height: 400px;
        background-color: blue;
        scroll-snap-align: start;
    }
}